html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f6f6f6;
  position: relative;
  overflow: auto;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div {
  text-align: center;
}
