<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} &ndash; {% endif %} {{ site.name }} </title>

  {% include seo.html %}
  {% include styles.html %}
</head>

<body>
  <header>
    <h2><a href="/">Andrew Kennedy</a></h2>
    <ul class="nav">
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </header>
  {{ content }}
</body>
</html>
