<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>
  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />

  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="cleartype" content="on">

  <link rel="stylesheet" href="/css/font-awesome.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" media="screen, projection" />
</head>

<body>
  <header>
    <h3><a href="/">Andrew Kennedy</a></h3>
    <ul class="nav">
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </header>
  <div class="container">
    {{ content }}
  </div>
</body>
</html>
