<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>
  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />

  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-114.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-144.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144.png" />
  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="/css/font-awesome.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" media="screen, projection" />
</head>

<body>
  <header>
    <h2><a href="/">Andrew Kennedy</a></h2>
    <ul class="nav">
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </header>
  {{ content }}
</body>
</html>
