---
layout: main
---

{% if page.image %}
<div class="hero" style="background-image: url(/blog/images/{{ page.image }});"></div>
{% endif %}

<div class="blog">
  <section class="title">
    <h1>
      {{ page.title }}
    </h1>
  </section>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  <section class="post">
    {{ content }}
  </section>

  <section class="pulls">
    Spot a typo? The source of this blog is <a href="https://github.com/akenn/akenn.org">available on GitHub</a>. <a href="https://github.com/akenn/akenn.org/pulls">Pull requests</a> and <a href="https://github.com/akenn/akenn.org/issues">issues</a> are welcome. You can also check out this post's <a href="https://github.com/akenn/akenn.org/commits/master/{{ page.path }}">revision history</a>.
   </section>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'akenn';

    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
